<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header.ejs %>
    <meta charset="utf-8">
    <title>Postage Rate Results</title>
  </head>
  <body>
    <p>Weight: "<%= wieght %>" Mail Type: "<%= mailType %>" Cost: "<%= cost %>"</p>    
  </body>
</html>
