<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header.ejs %>
    <meta charset="utf-8">
    <title>Postage Rate Results</title>
  </head>
  <body>
    <p>Weight: <%= weight %> <br> Mail Type: "<%= mailType %>" <br> Cost: $<%= cost %></p>
    <a href="/prove09.html" class="btn btn-primary">Return</a>
  </body>
</html>
